
body{font-family: Calibri;}

.bulletpointsheight {line-height: 0.5;}

.titleFontSize {font-size: 50px;}

.wordSpacing {word-spacing: 40px;}

.linkBackground {background-color:#E5E4E2;}

.bottomLinkSize {font-size: 12px;}